tplm2h1991.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2000.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2001.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2005.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2011.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1996.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1998.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2009.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2014.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2020.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1988.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1989.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1990.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1997.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2006.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2017.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1987.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1992.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1994.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2004.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2015.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2018.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2019.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1993.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1995.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2002.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2003.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2013.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1986.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2007.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2008.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2012.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1985.txt filter=lfs diff=lfs merge=lfs -text
tplm2h1999.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2010.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2016.txt filter=lfs diff=lfs merge=lfs -text
tplm2h2021.txt filter=lfs diff=lfs merge=lfs -text
